In [6]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [7]:
data = r"C:/Users/sevva/Downloads/car_evaluation.csv"
df = pd.read_csv(data, header = None)

In [8]:
df.shape

(1728, 7)

In [9]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [10]:
col_names =["buying","maint","doors","person","lug_boot","safety","class"]
df.columns = col_names

In [11]:
df.head()

  buying  maint doors person lug_boot safety  class
0  vhigh  vhigh     2      2    small    low  unacc
1  vhigh  vhigh     2      2    small    med  unacc
2  vhigh  vhigh     2      2    small   high  unacc
3  vhigh  vhigh     2      2      med    low  unacc
4  vhigh  vhigh     2      2      med    med  unacc

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   person    1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [13]:
for col in col_names:
    print(df[col].value_counts())

buying
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
maint
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
doors
2        432
3        432
4        432
5more    432
Name: count, dtype: int64
person
2       576
4       576
more    576
Name: count, dtype: int64
lug_boot
small    576
med      576
big      576
Name: count, dtype: int64
safety
low     576
med     576
high    576
Name: count, dtype: int64
class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [14]:
df.isnull().sum()

buying      0
maint       0
doors       0
person      0
lug_boot    0
safety      0
class       0
dtype: int64

In [15]:
x = df.drop(["class"],axis=1)

In [16]:
y = df["class"]

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state =42)

In [18]:
x_train.shape

(1209, 6)

In [19]:
x_test.shape

(519, 6)

In [20]:
x_train.dtypes

buying      object
maint       object
doors       object
person      object
lug_boot    object
safety      object
dtype: object

In [21]:
x_train.head()

     buying maint  doors person lug_boot safety
1178    med   med  5more      4      big   high
585    high  high      3   more    small    low
1552    low   med      3      4      med    med
1169    med   med  5more      2      big   high
1033    med  high      4      2      big    med

In [22]:
!pip install category_encoders

Requirement already satisfied: category_encoders in e:\anaconda\lib\site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.24.3)
Requirement already satisfied: scikit-learn>=0.20.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scipy>=1.0.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.11.1)
Requirement already satisfied: statsmodels>=0.9.0 in e:\anaconda\lib\site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in e:\anaconda\lib\site-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in e:\anaconda\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in e:\anaconda\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in e:\anaconda\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in e:\anaconda\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\anaconda\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in e:\anaconda\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)

In [23]:
import category_encoders as ce

In [24]:
encoder = ce.OrdinalEncoder(cols=["buying","maint","doors","person","lug_boot","safety"])
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [25]:
x_train.head()

      buying  maint  doors  person  lug_boot  safety
1178       1      1      1       1         1       1
585        2      2      2       2         2       2
1552       3      1      2       1         3       3
1169       1      1      1       3         1       1
1033       1      2      3       3         1       3

In [26]:
x_test.head()

      buying  maint  doors  person  lug_boot  safety
599        2      2      3       3         3       1
1201       1      4      4       1         3       3
628        2      2      1       3         1       3
1498       3      2      1       1         3       3
1263       1      4      3       2         3       2

In [27]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 10, random_state = 0)
rfc.fit(x_train,y_train)
y_pred = rfc.predict(x_test)

In [28]:
from sklearn.metrics import accuracy_score
print("Model Accuracy: {0:0.4f}".format(accuracy_score(y_test,y_pred)))

Model Accuracy: 0.8863

In [29]:
rfc_100 = RandomForestClassifier(n_estimators = 100, random_state = 0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)
print("Model Accuracy with 100 decision tree: {0:0.4f}".format(accuracy_score(y_test,y_pred_100)))

Model Accuracy with 100 decision tree: 0.9037